<head>
  <!-- Plotly.js -->
   <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
  <script>
raw_data = [{"timestamp":1543533062,"value":-101731},{"timestamp":1543533364,"value":-101731},{"timestamp":1543533665,"value":-101731},{"timestamp":1543533966,"value":-101731},{"timestamp":1543534267,"value":-101731},{"timestamp":1543534568,"value":-101731},{"timestamp":1543534869,"value":-101731},{"timestamp":1543535170,"value":-101731},{"timestamp":1543535470,"value":-101731},{"timestamp":1543535771,"value":-101731},{"timestamp":1543536073,"value":-101731},{"timestamp":1543536374,"value":-101731}]

var trace = {
  x: [],
  y: [],
  type: 'scatter',
};

for (entry in raw_data) {
  trace.x.push(new Date(raw_data[entry].timestamp*1000));
  trace.y.push(raw_data[entry].value);
}

var data = [ trace ];

var layout = {
  title:'Data Plot'
};

Plotly.newPlot('myDiv', data, layout);
  </script>
</body><head>
