
<head>
  <!-- Plotly.js -->
   <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <select>
    {{range $value := .Names}}
    <option value="{{ $value }}">{{ $value }}</option>
    {{end}}
  </select>
  
  <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
  <script>

var xmlhttp = new XMLHttpRequest();
var url = "http://192.168.86.250:8085";

xmlhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        var raw_data = JSON.parse(this.responseText);

var trace = {
  x: [],
  y: [],
  type: 'scatter',
};

for (entry in raw_data) {
  trace.x.push(new Date(raw_data[entry].timestamp*1000));
  trace.y.push(raw_data[entry].value);
}

console.log(trace)

var data = [ trace ];

var layout = {
  title:'Data Plot'
};

Plotly.newPlot('myDiv', data, layout);

    }
};

xmlhttp.open("GET", url, true);
xmlhttp.send();
  </script>
</body><head>
